set_io pclk D1

set_io TXD B3
set_io RXD A3

set_io spi_cs_n D5
set_io spi_miso F5
set_io spi_mosi E4
set_io spi_clk  E5

set_io oled_DIN  A1
set_io oled_CLK  C2
set_io oled_CS   E3
set_io oled_DC   C6
set_io oled_RST  B4

set_io D1 B3
set_io D2 A3
set_io D3 B6
set_io D4 C5
set_io D5 B6

set_io ledmtx_DIN  B1
set_io ledmtx_CS   E1
set_io ledmtx_CLK  B5

set_io RESET E2
